.qt/
build/
build-*/
dist/
install-test/

*.log
err.txt
logs/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Testing/

*.user
*.suo
*.pdb
*.obj
*.ilk
*.exe
*.dll

__pycache__/
*.py[cod]
